<?xml version="1.0"?>
<config>
    <modules>
        <Offshoreevolution_Sugarcrm>
            <version>1.1.0</version>
        </Offshoreevolution_Sugarcrm>
    </modules>
    
	<global>
		<models>
			<sugarcrm>
				<class>Offshoreevolution_Sugarcrm_Model</class>
				<resourceModel>mymodule_mysql4</resourceModel>
			</sugarcrm>
			
			<mymodule_mysql4>
				<class>Offshoreevolution_Sugarcrm_Model_Mysql4</class>
				<entities>
					<settings>
						<table>oepl_map_fields</table>
					</settings>
				</entities>
			</mymodule_mysql4>
		</models>
		
		<events>
			<model_delete_before>
				<observers>
					<sugarcrm_sync>
						<type>model</type>
						<class>Offshoreevolution_Sugarcrm_Model_Observer</class>
						<method>userDelete</method>
					</sugarcrm_sync>
				</observers>
			</model_delete_before>
			
			<customer_save_after>
				<observers>
					<sugarcrm_sync>
						<type>model</type>
						<class>Offshoreevolution_Sugarcrm_Model_Observer</class>
						<method>syncsugarcrm</method>
					</sugarcrm_sync>
				</observers>
			</customer_save_after>
			
			<sales_order_place_after>
				<observers>
					<sugarcrm_sync>
						<type>singleton</type>
						<class>Offshoreevolution_Sugarcrm_Model_Observer</class>
						<method>guest_user_sync</method>
					</sugarcrm_sync>
				</observers>
			</sales_order_place_after>
						
		</events>
		
        <helpers>
            <sugarcrm>
                <class>Offshoreevolution_Sugarcrm_Helper</class>
            </sugarcrm>
        </helpers>
		
		<blocks>
			<sugarcrm>
				<class>Offshoreevolution_Sugarcrm_Block</class>
			</sugarcrm>
		</blocks>
		
		<resources>			
			<sugarcrm_setup>
				<setup>
					<module>Offshoreevolution_Sugarcrm</module>
            		<class>Offshoreevolution_Sugarcrm_Model_Resource_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</sugarcrm_setup>
			
			<sugarcrm_write>
				<connection>
					<use>core_write</use>
				</connection>
			</sugarcrm_write>
			
			<sugarcrm_read>
				<connection>
					<use>core_read</use>
				</connection>
			</sugarcrm_read>
		</resources>
    </global>
	
    <admin>
        <routers>
			<adminhtml>
                <args>
                    <modules>
                        <offshoreevolution_sugarcrm after="Mage_Adminhtml">Offshoreevolution_Sugarcrm_Adminhtml</offshoreevolution_sugarcrm>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	<adminhtml>
        <layout>
            <updates>
                <offshoreevolution_sugarcrm>
                    <file>offshoreevolution_sugarcrm.xml</file>
                </offshoreevolution_sugarcrm>
            </updates>
        </layout>
	</adminhtml>
</config>